/* 200305_mobile_web_jji*/
* {margin: 0;padding: 0;}

body {display: block; font-family: 'Noto Sans KR', sans-serif;font-weight:normal;font-size: 14px;font-weight: 400;line-height: 1.5;color: #2f2f2f;}
a {text-decoration: none;} 
.search_top {background: linear-gradient( 180deg, #fb626c, #fb626c );-webkit-box-sizing: border-box;box-sizing: border-box;padding:10px 15px;position: fixed; width:100%;  top: 0px; z-index: 9999;}
.search_top_view {position:relative;height:40px;background:#F7F7F7;border-bottom: 1px solid #e4e4e4;}
.search_top_view h1 {line-height:40px;font-size: 14px;color:#000;text-align:center;font-weight: normal;font-weight: 400;letter-spacing: -0.05em;}
.search_top_view .top_close_btn {position: absolute;left: 16px;top: 50%;margin-top:-8px;width: 8px;height: 16px;background: url(../img/pre_btn_bg@2x.png) no-repeat 0 0;background-size:8px 16px ;text-indent: -9999em;}
.search_top #topsearch {position:relative;vertical-align: middle;width:100%;height:46px;background:#fff;border-radius:5px;}
.search_top #topsearch input {border:none;}
.search_top #topsearch input.tt {background:none;width:100%;height:46px;vertical-align:middle;-webkit-box-sizing: border-box;box-sizing: border-box;padding:0 36px 0 15px; font-size: 14px;}
.search_top #topsearch input::placeholder {color: #aaa;}
.search_top #topsearch input.bt { position:absolute;right: 20px;top: 50%;margin-top:-12px;width: 25px;height: 25px;}
.search_top #topsearch img {width: 25px;height: 25px;}
.wrap {width:100%;height:100vh;margin:0;padding:0;margin-top:60px}
.wrap .list_wrap {border-bottom: 1px solid #ddd;} 
.wrap .list_wrap ul {margin: 0;padding:0;list-style: none;} 
.wrap .list_wrap ul li {display: block;border-top: 1px solid #dddddd;position: relative;overflow: visible;margin: 0;padding: 0;letter-spacing: -0.05em;list-style: none;-webkit-box-sizing: border-box;box-sizing: border-box;}
.wrap .list_wrap ul li a {text-decoration: none;color:#000;} 
.wrap .list_wrap ul li a.btn_view_tit {} 
.wrap .list_wrap ul li a h2 {font-size: 14px;font-weight: bold;padding: 0 0 0 15px;margin:15px 0;}
.wrap .list_wrap ul li a h3 {font-size: 14px;font-weight: normal;padding: 0 0 0 15px;margin:15px 0;}
.wrap .list_wrap ul li a span {position: absolute;right: 15px;top: 50%;width: 10px;height: 16px;background: url(../img/btn_view_bg@2x.png) no-repeat 0 0;background-size:10px 16px ;text-indent: -9999em;}
.wrap .list_wrap ul li a span:after  {background-image: none;}
.wrap .list_wrap ul li a h2 span.btn_view {} 
.wrap.guide .content {margin:0 auto;padding:15px;}

.wrap.guide .content ul li {padding-bottom:30px;}
.wrap.guide .content ul li .con_txt .FL {position:relative;}
.wrap.guide .content ul li .con_txt .FR {position:relative;}
.wrap.guide .content ul li .con_txt p span.tt{padding: 2px 0 0 23px;font-size:12px;letter-spacing:-0.05em;}
.wrap.guide .content ul li .con_txt p em:before {content: "";display:block;}
.wrap.guide .content ul li .con_txt p em {font-family: 'Noto Sans KR', sans-serif;font-weight:300; font-style: normal; font-weight: normal; padding: 5px 0 0 0;font-size:11px;letter-spacing:-0.05em;color:#666;}
.wrap.guide .content ul li .con_txt p em.re {color:#F25555;}
.wrap.guide .content ul li .con_img {padding-top:12px;}
.wrap.guide .content ul li .con_img img.thum {width:100%;height:auto;}
.wrap.guide .content ul li .con_img .FL , .wrap.guide .content ul li .con_img .FR {border: 1px solid #ddd;-webkit-box-sizing: border-box;box-sizing: border-box;} 
.wrap.guide .content ul li .con_img p span.tt{padding: 2px 0 0 23px;font-size:12px;letter-spacing:-0.05em;}
.wrap.guide .content ul li .con_img p em:before {content: "";display:block;}
.wrap.guide .content ul li .con_img p em {font-style: normal; font-weight: normal; padding: 5px 0 0 0;font-size:11px;letter-spacing:-0.05em;color:#666;font-family: 'Noto Sans KR', sans-serif;font-weight:300; }
.wrap.guide .content ul li .con_img p em.re {color:#F25555;}
.wrap.guide .content ul li .con_img .FL.TXT , .wrap.guide .content ul li .con_img .FR.TXT {border:none}
.wrap.guide .content ul li .con_txt:after, .wrap.guide .content ul li .con_img:after  {content: ""; clear:both; display:block;}
.wrap.guide .content ul li .FL {width:48%;margin-right:4%;}
.wrap.guide .content ul li .FR {width:48%;}
.FL {float:left;}
.FR {float:right;}
.wrap.guide .content ul li .con_txt .icon{top: 0.15em;font-size: 0.525rem;}
.blue {content:"";background: #5f8af7;}
.wrap.guide .content ul li .icon{content:"";display: inline-block;font-weight: 700;width: 1.667em;height: 1.667em;border-radius: 50%;color: #fff;text-align: center;line-height: 1.667em;position: absolute; left: 0; top: 0.3em;}
.btn_area {margin: 20px auto;}
.btn_area.bottom {margin: 70px auto 20px;}
a.btn_mem {display: block;height: 55px;line-height: 56px;padding: 0;font-size:16px;color: #fff;text-align: center;background: #333;border-radius: 5px;text-decoration: none;}
a.btn_mem.blue {display: block;height: 55px;line-height: 56px;padding: 0;font-size:16px;color: #fff;text-align: center;background: #5f8af7;border-radius: 5px;text-decoration: none;}
a.btn_mem.blue.none, a.btn_mem.yellow.none {color: #fff;background: #e9ebef;}
div {display:block}
li, ol, ul {list-style: none;}
input, select {vertical-align: top;outline: none;}