<table>
<% for(var i=0; i < fbNews.length; i++) { %>
    <tr>
      <td><img src="<%=fbNews[i].picture%>"></td>
      <td><%=fbNews[i].message.substring(0,30)+"....."%><a href='<%=fbNews[i].permalink_url%>'>더 알아보기</a></td>
    </tr>
 <% } %>
</table>