<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
	<head>
		<meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
		<title>Gold Check</title>
  	</head>
  	<body>
		<div><span>QR코드표시영역</span><span> 한국금거래소로고표시영역</span></div>
		<hr>
		<div><span>종류표시영역</span><span> 수량표시영역</span></div>
		<hr>
		<div><span>유효여부 표시영역</span></div>
		<div>
			유가증권 정보 표시영역
			<div>구입일 : </div>
			<div>구입일 : </div>
			<div>기준가격 : </div>
			<div>구입가격 : </div>
			<div>유효일 : </div>
		</div>
		<hr>
		<div>
			유가증권 평가 표시영역
			<div>평가일 : </div>
			<div>기준가격 : </div>
			<div>평가가격 : </div>
		</div>
		<hr>
		<div>바코드영역</div>
		<hr>
		<div>상품권 이미지 표시영역</div>
		<hr>
		<div>유의사항 표시영역</div>
		<hr>
		<div>ip : <%=ip%></div>
		<div>lat : <%=lat%></div>
		<div>lng : <%=lng%></div>
		<div>id : <%=id%></div>
  	</body>
</html>