<html>
    <head>
        <style>
            .messages {
                margin: 0 auto;
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                font: 16px/1.3 sans-serif;
                overflow: auto;
                padding: 0;
                background: linear-gradient(rgb(255, 143, 178) 0%, rgb(167, 151, 255) 50%, rgb(0, 229, 255) 100%);
            }

            .messages:after {
                content: '';
                background: white;
                flex: 1;
                pointer-events: none;
            }

            .messages li {
                list-style-type: none;
                display: flex;
                flex-direction: row-reverse;
                overflow: hidden;
                border-style: solid;
                border-color: white;
                border-width: 2px 16px 2px 8px;
                flex: 0 0 auto;
            }

            .messages li.mine {
                flex-direction: row;
                border-right-width: 8px;
                border-left-width: 16px;
            }

            .messages li:first-child {
                border-top-width: 10px;
            }

            .messages li:last-child {
                border-bottom-width: 10px;
            }

            .messages li:before {
                content: '';
                flex: 1;
                background: white;
                pointer-events: none;
            }

            .messages li span {
                background: #eee;
                padding: 8px;
                position: relative;
            }

            .messages li span:before {
                content: '';
                position: absolute;
                left: -8px;
                top: -8px;
                bottom: -8px;
                right: -8px;
                border: 8px solid white;
                border-radius: 16px;
                pointer-events: none;
            }

            .messages li.mine span {
                background: none;
                color: white;
            }

            .send {
                margin: 0 auto;
                border: 1px solid black;
                display: flex;
                flex-direction: column;
                padding: 0;
            }

            .insert{
                font: 16px/1.3 sans-serif;
            }
        </style>
    </head>
    <body>
        <div id="view">
            <ol class="messages" id="messages">
                <li><span>안녕하세요? 금방금방입니다. 무엇이 궁금하세요?</span></li>
            </ol>
        </div>
        <div class="send">
            <input type=text id="insert" class="insert" onkeyup=chkKey();>
            <button id=btn class=btn onclick=sendAjax()>send</button>
        </div>
    </body>
    <script>
        function chkKey(){
            if (window.event.keyCode == 13){
                sendAjax();
            }
        }
        function sendAjax(){
            var bodyData = { 
                body: '[TEST][금방금방] 고객 문의가 접수되었습니다.', //Body text (Required) 
                connectColor: '#FAC11B', //Hex code color of attachment bar 
                connectInfo: [
                    { 
                        title: 'id:aaa@aaa.com, 이름:홍길동', //2nd attachment area title 
                        description: '' //2nd attachment description
                    },
                    { 
                        title: '오늘 입금신청했는데, 언제 입금되나요?', //1st attachment area title 
                        description: '', //1st attachment description
                    }
                ] 
            }
            bodyData.connectInfo[1].title=document.getElementById("insert").value;
            
            // content-type을 설정하고 데이터 송신
            var xhr = new XMLHttpRequest();
            xhr.open('POST', document.URL.split("/")[0]+'4Jandi');
            xhr.setRequestHeader('Content-type', "application/json");
            xhr.send(JSON.stringify(bodyData));
            // 데이터 수신이 완료되면 표시
            xhr.addEventListener('load', function(){
                if(4==xhr.readyState && 200==xhr.status)document.getElementById("messages").innerHTML += '<li class="mine"><span>'+document.getElementById("insert").value+'</span></li>';
                else document.getElementById("messages").innerHTML += '<li><span>'+"문제가 발생하였습니다. 잠시후 다시 시도해 주세요"+'</span></li>'
            });
        }
    </script>
</html>